<div>
  <link href="./sign-up-component.css" rel="stylesheet" />
  <div class="sign-up-component-card">
    <div class="sign-up-component-container">
      <form
        id="signup"
        enctype="application/x-www-form-urlencoded"
        class="sign-up-component-form"
      >
        <div class="sign-up-component-container1">
          <div class="sign-up-component-container2">
            <label><span>Email ID</span></label>
            <input type="email" placeholder="abc@domain.com" class="input" />
          </div>
          <div class="sign-up-component-container3">
            <label><span>Full Name</span></label>
            <input type="text" placeholder="Full Name" class="input" />
          </div>
          <div class="sign-up-component-container4">
            <label><span>Password</span></label>
            <input type="password" placeholder class="input" />
          </div>
          <div class="sign-up-component-sign-up">
            <span class="sign-up-component-text3"><span>Sign Up</span></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
