<div>
  <link href="./sign-in-component.css" rel="stylesheet" />
  <div class="sign-in-component-card">
    <div class="sign-in-component-container">
      <form
        id="signup"
        enctype="application/x-www-form-urlencoded"
        class="sign-in-component-form"
      >
        <div class="sign-in-component-container1">
          <div class="sign-in-component-container2">
            <label><span>Email ID</span></label>
            <input type="email" placeholder="abc@domain.com" class="input" />
          </div>
          <div class="sign-in-component-container3">
            <label><span>Password</span></label>
            <input type="password" placeholder class="input" />
          </div>
          <div class="sign-in-component-sign-in">
            <span class="sign-in-component-text2"><span>Sign In</span></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
